app {
}

#chart {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 70%;
}
#button-controls {
  position: absolute;
  padding-top: 100px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 30%;
}
